.message {
  width: 100%;
  min-height: 60px;
  position: relative;
}

.imageAndText {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  min-height: inherit;
  align-items: end;
}

.imageAndText img {
  object-fit: contain;
  height: 48px;
}

.text {
  max-width: 576px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  background-color: #0066cc;
  color: #fff;
  padding: 7px 12px;
  border-radius: 16px 16px 0 16px;
  position: relative;
  overflow-y: clip;
  filter: drop-shadow(0px 1px 2px #1d21261a) drop-shadow(0px 5px 20px #1d212608);
}

.text:after {
  content: "";
  position: absolute;
  bottom: -12px;
  right: -24px;
  border: 12px solid transparent;
  border-left: 12px solid #0066cc;
}

.name {
  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    margin-bottom: 3px;
  }
}

.messageText {
  line-height: 19.5px;
  font-family: Montserrat;
  white-space: break-spaces;
}

.time {
  position: absolute;
  bottom: -17.19px;
  right: 10px;

  font-size: 10px;
  font-weight: 600;
  line-height: 12.19px;
}
