.techBlock {
  margin-top: 24px;
  width: fit-content;
  position: relative;
  gap: 19px;
}

.techs {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  gap: 0;
  min-height: 144px;
}
.tech {
  /* margin-top: 19px; */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.loading {
  position: absolute;
  right: 0;
  top: 47px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.41px;
  text-align: left;
  color: #4d4d4d;
}
