.buttonsContainer {
  margin-top: 55px;
  display: flex;
  gap: 21px;
  margin-bottom: 80px;
}

.clock {
  margin-top: 26px;
}

.watch {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
}

.watch strong {
  font-weight: 600;
}

.more {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  color: #00000080;
}
