.App {
  --header_height: 60px;
  height: 100vh;
  margin-top: var(--header_height);

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1600px;
  min-width: 480px;
  width: 100%;

  padding: 0 100px;
}

.hwTitle {
  margin-top: calc(71px + var(--header_height));
  font-size: 22px;
  font-weight: 600;
  line-height: 26.82px;
  margin-bottom: 10px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100vw;
  border-top: 1px solid #d9d9d9;
  border-bottom: none;
}

.hw {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 47px;
  margin-bottom: 47px;
}

.messageBoard {
}
