.button {
  height: 30px;
  padding: 5px 24px 5px 24px;

  border-radius: 3px;
  background-color: #0066cc;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;

  border: unset;
  cursor: pointer;
}

.disabled {
}

.secondary {
  border: 1px solid #0066cc;
  background-color: #ffffff;
  color: #0066cc;
}

.default {
}

.red {
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}

.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
